
body {
  background-image: url("HomeBackground.jpg")
}

a {
  color: white;
}
h1{
  color: white;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: rgb(47,56,139);
  text-align: center;

}

li a {
    display: block;
    width: 200px;
    padding: 8px, 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

h3 {
  color: white;
}

p {
  color: white;
  margin: 0px 5px 5px 5px;
}
